<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet25Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 在整个Web容器中设置初始化参数 -->
 	<context-param>
 		<param-name>globalParam</param-name>
 		<param-value>global value...</param-value>
 	</context-param>
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>org.xy.servlet.HelloServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  <!-- 在当前Servlet范围内设置初始化参数 -->
   <!-- <init-param>
    	<param-name>servletparam</param-name>
    	<param-value>servletvalue...</param-value>
    </init-param>
   --> 
    
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet2</servlet-name>
    <servlet-class>org.xy.servlet.HelloServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet2</servlet-name>
    <url-pattern>/HelloServlet2</url-pattern>
  </servlet-mapping>
</web-app>